@{
    ViewBag.Title = "About";
}
<br />
<form method="get">

    <fieldset>
        Movie Type <select id="MovieType" name="MovieType" class="form-control">

    <option value="0">Action</option>

    <option value="1">Drama</option>

    <option value="2">Comedy</option>

    <option value="3">Animation</option>

    <option value="4">Adventure</option>

    <option value="5">Fantastic</option>

    <option value="6">Science Fiction</option>

</select>

    </fieldset>

</form>
